.result-label {
    font-size: 1rem;
}

.btn {
    font-size: 1rem;
}

.ctb-thing {
    margin-left: 0.25rem;
}

#nbcelltesting-global-result {
    width: 10rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#nbcelltesting-global-result.progress {
    margin-bottom: 0px;
    margin-left: 5px;
}